* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url(../images/fondo01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  main {
    width: 1288px;
    background: rgb(203, 199, 199);
    margin: 0 auto;
  }
  
  header {
    background-color: #000000;
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .logo {
    width: 30%;
    float: left;
  }
  
  .logo img {
    width: 300px;
  }
  
  nav {
    background-color: #000000;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  nav ul li {
    display: inline-block;
    text-transform: uppercase;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(71, 255, 4);
    padding: 10px;
    text-shadow: 0px 0px 5px rgb(136, 255, 0);
    border-radius: 10px;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  
  }
  
  nav ul li a:hover {
    background: rgb(121, 118, 118);
  }
  
  section {
    padding: 50px;
  
  }
  
  h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
  }
  
  h2 {
    text-align: center;
    font-size: 28px;
    padding-bottom: 20px;
  }
  
  video {
    width: 1180px;
  }
  
  
  .auto1 {
    width: 33%;
    float: right;
    height: 100%;
    margin-top: 6px;
  }
  
  .auto2 {
    width: 33%;
    float: right;
    height: 100%;
    margin-top: 90px;
  }
  
  .text1 {
    justify-content: center;
    float: left;
    font-size: 28px;
    width: 65%;
    margin-top: 40px;
    text-align: justify;
  }
  
  .texto-lateral1 {
    padding: 3px;
  }
  
  
  .text2 {
    justify-content: center;
    float: left;
    font-size: 28px;
    width: 65%;
    margin-top: 28px;
    text-align: justify;
  }
  
  .texto-lateral2 {
    padding: 3px;
  }
  
  
  
  .text3 {
    justify-content: center;
    float: left;
    font-size: 28px;
    width: 65%;
    margin-top: 20px;
    text-align: justify;
  }
  
  .texto-lateral3 {
    padding: 3px;
  }
  
  
  h1 {
    text-align: center;
    font-size: 45px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  
  h3 {
    letter-spacing: 2px;
    font-size: 45px;
    padding-top: 20px;
  }
  
  .clear {
    clear: both;
  }
  
  footer {
    background-image: url(/images/footer.jpg);
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 80px;
  }