* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url(../images/fondo01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  main {
    width: 1288px;
    background: rgb(203, 199, 199);
    margin: 0 auto;
  }
  
  header {
    background-color: #000000;
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .logo {
    width: 30%;
    float: left;
  }
  
  .logo img {
    width: 300px;
  }
  
  nav {
    background-color: #000000;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav ul li {
    display: inline-block;
    text-transform: uppercase;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(71, 255, 4);
    padding: 10px;
    text-shadow: 0px 0px 5px rgb(136, 255, 0);
    border-radius: 10px;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  
  }
  
  nav ul li a:hover {
    background: rgb(121, 118, 118);
  }
  
  section {
    padding: 50px;
    background-color: #171717;
  }
  
  .auto1 {
    width: 100%;
    padding-top: 1px;
  }
  
  .auto2 {
    width: 100%;
    float: right;
    padding-top: 2px;
  }
  
  .text2 {
    float: left;
    margin-top: 50px;
    font-size: 23px;
    width: 50%;
    padding-bottom: 1px;
  }
  
  .auto3 {
    width: 30%;
    float: right;
    padding-top: 10px;
  }
  
  .text3 {
    justify-content: center;
    float: left;
    font-size: 23px;
    width: 65%;
    margin-top: 20px;
    text-align: justify;
  }
  
  .texto-lateral3 {
    padding: 3px;
  }
  
  h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(71, 255, 4);
    padding: 10px;
    text-shadow: 0px 0px 5px rgb(136, 255, 0);
  }
  
  h4 {
    letter-spacing: 2px;
    font-size: 25px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    justify-content: center;
  }
  
  .formulario {
    width: 880px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 55px;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    font-size: 28px;
  }
  
  .clear {
    clear: both;
  }
  
  #nombre {
    font-size: 20px;
    border-radius: 12px;
    height: 50px;
    width: 450px;
    padding: 20px;
  }
  
  #nombre:hover {
    background-color: #242323;
    color: white;
  }
  
  #apellido {
    font-size: 20px;
    border-radius: 12px;
    height: 50px;
    width: 450px;
    padding: 20px;
    ;
  }
  
  #apellido:hover {
    background-color: #242323;
    color: white;
  }
  
  #email {
    font-size: 20px;
    border-radius: 12px;
    height: 50px;
    width: 450px;
    padding: 20px;
  }
  
  #email:hover {
    background-color: #242323;
    color: white;
  }
  
  #tel {
    font-size: 20px;
    border-radius: 12px;
    height: 50px;
    width: 450px;
    padding: 20px;
  }
  
  #tel:hover {
    background-color: #242323;
    color: white;
  }
  
  #select {
    font-size: 20px;
    border-radius: 12px;
    height: 50px;
    width: 450px;
    color: #000000;
  }
  
  #select:hover {
    background-color: #242424;
    color: white;
  }
  
  #mensaje {
    border-radius: 12px;
    height: 250px;
    width: 450px;
    border: 8px solid rgb(101, 97, 97);
    font-size: 20px;
    padding: 15px;
  }
  
  #mensaje:hover {
    background-color: #242323;
    color: white;
  }
  
  #Limp {
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  #Limp:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  #Env {
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  #Env:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  footer {
    text-align: center;
    background-image: url(/images/footer.jpg);
    color: white;
    padding: 80px;
    font-size: 30px;
  }